<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DocketPlaceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DocketPlaceClient.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<DocketPlaceClient.Properties.Settings>
   <setting name="COMPort" serializeAs="String">
    <value>COM2</value>
   </setting>
   <setting name="OPOSPrinter" serializeAs="String">
    <value />
   </setting>
   <setting name="store_id" serializeAs="String">
    <value>25</value>
   </setting>
   <setting name="password" serializeAs="String">
    <value>u3lhullg</value>
   </setting>
   <setting name="RMDBLocation" serializeAs="String">
    <value />
   </setting>
   <setting name="DPDBLocation" serializeAs="String">
    <value>C:\DocketPlace\docketplaceRewards.mdb</value>
   </setting>
   <setting name="sendSalesData" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="syncCustomersOnStartup" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="POSServerLocation" serializeAs="String">
    <value>192.168.0.113</value>
   </setting>
   <setting name="POSServerUser" serializeAs="String">
    <value>sa</value>
   </setting>
   <setting name="POSServerPassword" serializeAs="String">
    <value>Password1</value>
   </setting>
   <setting name="POSSoftware" serializeAs="String">
    <value>Microsoft</value>
   </setting>
   <setting name="POSServerDBName" serializeAs="String">
    <value>sample1</value>
   </setting>
   <setting name="ReceiptIdentifiers" serializeAs="String">
    <value>Sales Receipt,Tax Invoice</value>
   </setting>
   <setting name="TransactionCaption" serializeAs="String">
    <value>Transaction #:</value>
   </setting>
   <setting name="DefaultAd" serializeAs="String">
    <value>C:\DocketPlace\default.png</value>
   </setting>
   <setting name="CategoriesOnly" serializeAs="String">
    <value>True</value>
   </setting>
   <setting name="WebService" serializeAs="String">
    <value>http://staging-api.docketplace.com.au/Adprovider.asmx</value>
   </setting>
  </DocketPlaceClient.Properties.Settings>
	</userSettings>
	<system.windows.forms jitDebugging="true"/>
	<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
		<DocketPlaceClient.Properties.Settings>
   <setting name="DocketPlaceClient_au_com_docketplace_AdProvider"
    serializeAs="String">
    <value>http://staging-api.docketplace.com.au/Adprovider.asmx</value>
   </setting>
  </DocketPlaceClient.Properties.Settings>
	</applicationSettings>

     <runtime>
          <NetFx40_LegacySecurityPolicy enabled="true"/>
     </runtime>
     
</configuration>
